<h2>Listing Detail</h2>

<p><%= link_to "Back", user_listings_path(user_id: current_user.id) %></p>

<p><%= link_to "Edit", edit_user_listing_path(user_id: current_user.id, id: @listing.id), class: "btn btn-default"  %></p>
<% if @listing.photos.present? %>
  <% @listing.photos.each do |photo| %>
     <%= image_tag photo.medium.url %>
  <% end %>
<% end %>

<p><%= @listing.id %></p>
<p><%= @listing.name %></p>
<p><%= @listing.price %></p>
<p><%= @listing.currency %></p>
<p><%= @listing.condition %></p>
<p><%= @listing.delivery %></p>
<p>Category: <%= @listing.subcategory.category.name %></p>
<p>Subcategory: <%= @listing.subcategory.name %></p>
<p>Posted by <%= link_to @listing.user.username, user_path(@listing.user.id) %></p>
