<p>
  <%= link_to "Home", root_path %> / <%= link_to @subcategory.category.name, category_path(@subcategory.category.id) %> / <span class='text-muted'><%= @subcategory.name %></span>
</p>

<h4><%= @subcategory.name %></h4>

<div class="listings transitions-disabled">
  <% @subcategory.listings.each do |listing| %>
    <%= render partial: '/shared/listing_thumbnails', locals: {listing: listing} %>
  <% end %>
</div>
