<h1>Static#index</h1>


<% if logged_in? %>
  <p>
    Hi <%= current_user.firstname %>!
  </p>

  <p><%= link_to 'Profile', user_path(current_user.id) %></p>

  <%= link_to 'Your Listings', user_listings_path(current_user) %>

  <%= link_to 'Sell', new_user_listing_path(user_id: current_user.id) %>

<% end %>

<% @categories.each do |cat| %>
  <% if cat.listings.present? %>

    <h3><%= cat.name %></h3>
    <% cat.listings.each do |listing| %>

      <% listing.photos.each do |photo| %>
        <%= link_to (image_tag photo.url(:thumb)), listing_path(id: listing.id) %>
      <% end %>

      <p> <%= listing.id %>, <%= listing.name %>, <%= listing.price %> </p>
    <% end %> <!-- end of cat.listings.each -->

  <% end %> <!-- end of if -->
<% end %>
