<p>
  <%= link_to "Home", root_path %> / <span class='text-muted'><%= @category.name %></span>
</p>


<h4><%= @category.name %></h4>

<hr>
<p> Subcategories: </p>
<% @category.subcategories.each do |subcat| %>
  <p>
    <%= link_to subcat.name, subcategory_path(subcat.id) %>
  </p>
<% end %>

<hr>
<div class="listings transitions-disabled">
  <% @category.listings.each do |listing| %>
    <%= render partial: '/shared/listing_thumbnails', locals: {listing: listing} %>
  <% end %>
</div>
