<!DOCTYPE html>
<html>
<head>
  <title>Boboho</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/navbar' %>


  <div class="container">
    <p>
      <%= link_to "Home", root_path %>
    </p>

    <% if logged_in? %>
      <p><%= link_to 'Logout', logout_path %></p>
    <% else %>
      <p>
         <%= link_to 'Sign up', new_user_path %>
         <%= link_to 'Login', login_path %>
      </p>
    <% end %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: 'alert alert-info' %>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
